.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

li {
  color: white;
  float: left;
  margin-top: 7px;
  margin-left: 35px;
  font-size: 25px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#unos{
  display: flex;
  margin-left: 420px;
  margin-top: 50px;
}

#inputgrad{
  width: 350px;
  margin-left: 35px;
  height: 40px;
}


#dugmepretraga{
  margin-left: 30px;
  width: 200px;
}

#izborhoteladiv{
  display: flex;
  margin-top: 100px;
  margin-left: 330px;
}


#izborselect{
  margin-left: 38px;
  width: 350px;
}

#dugmerezervacija{
  width: 200px;
  margin-left: 35px;
}

#izborselect{
  height: 40px;
}

#naslovhotel{
  margin-left: 65px;
}

#rezfrm{
  width: 850px;
  margin-left: 350px;
}

#potvrda{
  margin-top: 10px;
  width: 300px;
}


#uspehnaslov{
  margin-top: 250px;
  font-size: 60px;
}